* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
span {
  color: rgb(13, 52, 161);
}
header {
  font-size: x-large;
  border-bottom: 1px solid rgb(228, 228, 228);
  box-shadow: 1px 1px 5px rgb(214, 214, 214);
  padding: 20px 15px;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
#heroSec {
  text-align: center;
  margin: 50px 0;
}
#details {
  width: 50%;
  display: flex;
  gap: 20%;
  padding: 10px;
  border: 1px solid grey;
  border-radius: 15px;
  margin: 5px;

}
#cardsCon {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  min-height: 70vh;
  gap: 10px;
  justify-content: center;
  align-content: center;
  position: relative;
}
#cardsCon div {
  width: fit-content;
  height: fit-content;
  border: 1px solid rgb(7, 53, 116);
  border-radius: 15px;
  cursor: pointer;
}
.back {
  background: rgb(7, 53, 116);
}
.imgDisappear {
  opacity: 0;
  visibility: hidden;
}
.transform {
  transform: rotateY(0.5turn);
  transition: all ease-in-out 0.3s;
}
#cardsCon div img {
  width: 100px;
  height: 100px;
  border-radius: 15px;
  transition: opacity 0.5s;
}

#startCon {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(202, 224, 253, 0.616);
  border-radius: 15px;
}
#start {
  position: absolute;
  top: 50%;
  right: 45%;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: rgb(22, 99, 201);
  border: 1px solid rgb(9, 63, 134);
  color: white;
  font-size: larger;
  font-family: cursive;
}
footer {
  background-color: #0a2d72;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-top: 50px;
}
