* {
  box-sizing: border-box;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#cardsCon {
  display: flex;
  flex-wrap: wrap;
  width: 35%;
  gap: 10px;
  justify-content: center;
}
#cardsCon div {
  width: fit-content;
  height: fit-content;
  border: 1px solid rgb(7, 53, 116);
  border-radius: 15px;
  cursor: pointer;
}
.back{
    background: rgb(7, 53, 116);
}
.imgDisappear{
    opacity: 0;
}
.transform{
transform: rotateY(0.5turn);
transition: all ease-in-out 0.3s;
}
#cardsCon div img {
  width: 100px;
  height: 100px;
  border-radius: 15px;
  transition: opacity 0.5s;

}
